.form-element{
    padding-top: 5%;
    margin-top: 0.75%;
    display: inline-block;
}

.form-lable {
    vertical-align: top;
    min-width: 25%;
}

button{
    margin-left:80%;
    margin-bottom:1.5%;
}

.form-input {
    min-width: 70%;
}


input[type=text] {
    width: 90%;
    font-size: 18px;
}

textarea{
    width: 90%;
}

select{
    min-width: 20%;
}

.column {
    margin-top: 5%;
    font-size: 18px;
    position: relative;
    min-width: 25%;
    max-width: 490px;
    min-height: 1px;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: #d3d3d3;
    padding-left: 2%;
    margin-left: 2%;
    border: 4px ridge gray;
}

body {
    background-color: #b3b3b3;
}